.container{
    text-align: center;
}
.input-wrapper{
    margin: 10px;
}
.input-field{
    width: 200px;
    height: 30px;
}
.button{
    width: 200px;
    height: 30px;
}
.button-link{
    color: blue;
    background: transparent;
    border: 0;
    cursor: pointer;
}